APP_PORT=8080
JWT_SECRET=super-secret-string
TOKEN_TTL=24h
ALLOWED_ORIGIN=http://localhost:8080

DB_PORT=8001
DATABASE_URL=pgx5://patreon:patreon@localhost:${DB_PORT}/patreon?sslmode=disable
APP_PASSWORD=app_secret_password
APP_DATABASE_URL=pgx5://app_user:$APP_PASSWORD@localhost:${DB_PORT}/patreon?sslmode=disable